.label {
    /* This affects where the line is drawn */
    -fx-border-insets: 0px 7px 0px 7px;
    -fx-border-color: #d55e00 #009e73 #cc79a7 #0072b2;
    -fx-border-width: 2px;
    -fx-border-radius: 1em 1em 0 1em;

    /* This affects what area is filled */
    -fx-background-insets: 0px 7px 0px 7px;
    -fx-background-color: linear-gradient(to bottom right, #00ffbf, #00ddff);
    -fx-background-radius: 1em 1em 0 1em;

    -fx-padding: 6px;
}

.reply-label {
    /* Notice how the later one in the file
        overwrites the one in .label above. */
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
}

.avatar-border {
    -fx-fill: transparent;
    -fx-stroke: #4A90E2;
    -fx-stroke-width: 2px;
    -fx-stroke-type: inside;
}

/* We can declare these as many times as we want!
    It appends them */
.label, .avatar-border {
    /* Shadow effect on image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0.5, 2, 2);
}


#displayPicture {
    /* Change size of image.*/
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}